<div class="footer">
    <div class="row-fluid">
        <div class="span1 first section"><a href="http://www.facebook.com/cittando" class="ico-foot-facebook">&nbsp;</a></div>
        <div class="span1 section"><a href="https://twitter.com/cittando" class="ico-foot-twitter">&nbsp;</a></div>
        <div class="span1 section"><a href="#" class="ico-foot-gplus">&nbsp;</a></div>
        <div class="span1 section"><a href="mailto:info@cittando.com" class="ico-foot-mail">&nbsp;</a></div>
        <div class="span1 section"><a href="#" class="ico-foot-rss">&nbsp;</a></div>
    </div>
    <hr>
    <div class="row-fluid">
        <div class="span2 section first">
            <h1>Site Page</h1>
            <ul class="lvl-1">
                <li><a href="{{ path('_cittando_home') }}">Home</a></li>
                <li>
                    <a href="{{ path('_events') }}">Events</a>
                    <ul>
                        <li><a href="#">Event Map</a></li>
                    </ul>
                </li>
                <li><a href="{{ path('_venues') }}">Venues</a></li>
                <li>
                    <a href="{{ path('_cinema') }}">Cinema</a>
                    <ul>
                        <li><a href="#">Showtimes</a></li>
                        <li><a href="#">Trailers</a></li>
                    </ul>
                </li>
                <li><a href="#">Blog / News</a></li>
            </ul>
        </div>

        <div class="span2 section">
            <h1>About Us</h1>
            <ul class="lvl-1">
                <li><a href="#">About</a></li>
                <li><a href="#">Jobs</a></li>
                <li><a href="#">Advertise</a></li>
                <li><a href="#">Affiliate program</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>

        <div class="span2 section">
            <h1>Your account</h1>
            <ul class="lvl-1">
                <li><a href="#">Log in / Register</a></li>
                <li><a href="#">Add Event +</a></li>
                <li><a href="#">Add Venue +</a></li>
            </ul>
        </div>

        <div class="span2 section">
            <h1>Popular events</h1>
            <ul class="lvl-1">
                <li><a href="#">Event1</a></li>
                <li><a href="#">Event2</a></li>
                <li><a href="#">Eevent3</a></li>
            </ul>
        </div>

        <div class="span2 section large">
            <h1>Popular categories</h1>
            <ul class="lvl-1">
                <li><a href="#">Terms of Use</a></li>
                <li><a href="#">Privacy policy</a></li>
                <li><a href="#">Send us feedback</a></li>
            </ul>
        </div>

        <div class="span2 section">
            <h1>Popular cinema</h1>
            <ul class="lvl-1">
                <li><a href="#">Pariatur</a></li>
                <li><a href="#">Consectetur</a></li>
                <li><a href="#">Aliqua</a></li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="copyright">
        Cittando Copyright &copy; 2012 G Ventures, LLC. All rights reserved.<br>
        Use fo this webiste signifies your agreement to the <a href="#">Term of Use</a> and <a href="#">Privacy Policy</a>
    </div>
</div>