    <div class="box map-container">
        <div id="mapdiv-banner"></div>
        <script>CreateMap(9.83881,-83.867655,"mapdiv-banner",'<b>Hey! are you here?</b><br/> Cartago, Costa Rica');</script>
        <div class="map-large">        
            <a href="{{  path("_map") }}">View large map</a>
        </div>
    </div>