<hr class="footer-hr">
<div class="footer">
    <div class="footer_container">
        <a class="footer_about" href="{{path('about')}}">ABOUT US</a>
        <a class="footer_terms" href="{{path('terms')}}">TERMS OF USE</a>
        <a class="footer_terms" href="{{path('privacy')}}">PRIVACY</a>
        <div class="social">
            <a href="http://twitter.com"><span title="Twitter" class="footer_twitter"></span></a>
            <a target="_blank" href="https://www.facebook.com/soound"><span title="Facebook" class="footer_facebook"></span></a>
            <a href="#"><span title="RSS Feed" class="footer_feed"></span></a>
        </div>
    </div>
</div>