{% extends 'CittandoSiteBundle::layout.html.twig' %}

{% block title %}Cittando | Showtimes{% endblock %}

{% block bannerMap %}{% endblock %}

{% block sharedButtons %}
    <!-- AddThis Button BEGIN -->
    <div class="addthis_toolbox addthis_floating_style addthis_counter_style">
        <a class="addthis_button_facebook_like" fb:like:layout="box_count"></a>
        <a class="addthis_button_tweet" tw:count="vertical"></a>
        <a class="addthis_button_google_plusone" g:plusone:size="tall"></a>
        <a class="addthis_counter"></a>
    </div>
    <script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=xa-50882aa0451f452f"></script>
    <!-- AddThis Button END -->
{% endblock %}

{%  block content %}
    <div class="span8">
        <div class="content-box">
            <div class="header">
                <h1 class="title">Showtimes</h1>
                <a href="#" class="pull-right"></a>
            </div>
            <div class="black-breadcrum showtimeTool">
                <p>Showtimes near to Santa Monica | </p>
                <div class="ShowCity btn-group">
                    <a class="dark-toggle dropdown-toggle" data-toggle="dropdown" href="#">
                        Change city
                        <span class="dropdown-arrow caret"></span>
                    </a>
                    <ul class="dark-dropdown dropdown-menu">
                        <li>Iowa</li>
                        <li>New York</li>
                        <li>Miami</li>
                    </ul>
                </div>
                <p>Theater: </p>
                <div class="TheaCity btn-group">
                    <a class="dark-toggle dropdown-toggle" data-toggle="dropdown" href="#">
                        Criteion
                        <span class="dropdown-arrow caret"></span>
                    </a>
                    <ul class="dark-dropdown dropdown-menu">
                        <li>Numbasel</li>
                        <li>Voriso amanika</li>
                        <li>Bial blue</li>
                    </ul>
                </div>
            </div>
            <ul class="showtime-info">
                <li>
                    <div class="description">
                        <p class="title">Criterion</p>
                        <p class="location">251 South Main St, Los Angeles, CA 90012</p>
                        <a class="dark-link">Save venue <img src="/img/green-save.png" /></a>
                    </div>
                    <div class="showtime-info-container">
                        <ul class="movies">
                            <li>Movie</li>
                            <li>Avatar 3D</li>
                            <li>Ice age 3 Dawn of the Dinosaurs</li>
                            <li>Ghost hunters</li>
                        </ul>
                        <ul class="times">
                            <li>Time</li>
                            <li>11:55 | 2:20 | 4:50 | 7:25 | 9:50 </li>
                            <li>11:55 | 2:20 | 4:50 | 7:25 | 9:50 </li>
                            <li>11:55 | 2:20 | 4:50 | 7:25 | 9:50 </li>
                        </ul>
                        <ul class="available-tickets">
                            <li>&zwj;</li>
                            <li><input type="button" class="btn_buyticket" value="Buy Ticket"></li>
                            <li><input type="button" class="btn_buyticket" value="Buy Ticket"></li>
                            <li><input type="button" class="btn_buyticket" value="Buy Ticket"></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="description">
                        <p class="title">Criterion</p>
                        <p class="location">251 South Main St, Los Angeles, CA 90012</p>
                        <a class="dark-link">Save venue <img src="/img/green-save.png" /></a>
                    </div>
                    <div class="showtime-info-container">
                        <ul class="movies">
                            <li>Movie</li>
                            <li>Avatar 3D</li>
                            <li>Ice age 3 Dawn of the Dinosaurs</li>
                            <li>Ghost hunters</li>
                        </ul>
                        <ul class="times">
                            <li>Time</li>
                            <li>11:55 | 2:20 | 4:50 | 7:25 | 9:50 </li>
                            <li>11:55 | 2:20 | 4:50 | 7:25 | 9:50 </li>
                            <li>11:55 | 2:20 | 4:50 | 7:25 | 9:50 </li>
                        </ul>
                        <ul class="available-tickets">
                            <li>&zwj;</li>
                            <li><input type="button" class="btn_buyticket" value="Buy Ticket"></li>
                            <li><input type="button" class="btn_buyticket" value="Buy Ticket"></li>
                            <li><input type="button" class="btn_buyticket" value="Buy Ticket"></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="description">
                        <p class="title">Criterion</p>
                        <p class="location">251 South Main St, Los Angeles, CA 90012</p>
                        <a class="dark-link">Save venue <img src="/img/green-save.png" /></a>
                    </div>
                    <div class="showtime-info-container">
                        <ul class="movies">
                            <li>Movie</li>
                            <li>Avatar 3D</li>
                            <li>Ice age 3 Dawn of the Dinosaurs</li>
                            <li>Ghost hunters</li>
                        </ul>
                        <ul class="times">
                            <li>Time</li>
                            <li>11:55 | 2:20 | 4:50 | 7:25 | 9:50 </li>
                            <li>11:55 | 2:20 | 4:50 | 7:25 | 9:50 </li>
                            <li>11:55 | 2:20 | 4:50 | 7:25 | 9:50 </li>
                        </ul>
                        <ul class="available-tickets">
                            <li>&zwj;</li>
                            <li><input type="button" class="btn_buyticket" value="Buy Ticket"></li>
                            <li><input type="button" class="btn_buyticket" value="Buy Ticket"></li>
                            <li><input type="button" class="btn_buyticket" value="Buy Ticket"></li>
                        </ul>
                    </div>
                </li>
            </ul>
            <div class="inner-content facebook-comments">
                <div class="header">
                    <div class="title">Facebook comments</div>
                    <a href="#" class="pull-right"></a>                       
                </div>
                {% include "CittandoSiteBundle:Container:facebook-comments.html.twig" %}
            </div> 
        </div>
        <div class="content-search">
            <p>Recieve weekly event list for <span>Roma</span></p>
            <input type="text" name="bottom-search" id="bottom-search" />
            <input type="submit" name="submit" id="submit" value="Submit" />
        </div>
    </div>
{% endblock %}