/*Header CSS Rules*/
@font-face {
	font-family:'BrandonGrotesqueBold' !important;
	src:url("fonts/brandon_bld.eot");
	src:url("fonts/brandon_bld.eot") format('embedded-opentype'), url("fonts/brandon_bld.woff") format('woff'), url("fonts/brandon_bld.ttf") format('truetype'), url("fonts/brandon_bld.svg#BrandonGrotesqueBold") format('svg')
}
@font-face {
	font-family:'helveticaneuemedium' !important;
	src:url("fonts/fontscore.com_h_helveticaneue-medium-webfont.eot");
	src:url("fonts/fontscore.com_h_helveticaneue-medium-webfont.eot?#iefix") format('embedded-opentype'), url("fonts/fontscore.com_h_helveticaneue-medium-webfont.woff") format('woff'), url("fonts/fontscore.com_h_helveticaneue-medium-webfont.ttf") format('truetype'), url("fonts/fontscore.com_h_helveticaneue-medium-webfont.svg#helveticaneuemedium") format('svg');
	font-weight:normal;
	font-style:normal
}
@font-face {
	font-family:'brandongrotesqueregular' !important;
	src:url("fonts/brandon_re-webfont.eot");
	src:url("fonts/brandon_re-webfont.eot?#iefix") format('embedded-opentype'), url("fonts/brandon_re-webfont.woff") format('woff'), url("fonts/brandon_re-webfont.ttf") format('truetype'), url("fonts/brandon_re-webfont.svg#brandon_grotesqueregular") format('svg');
	font-weight:normal;
	font-style:normal
}
/*START Sharie STYLES*/
body {
	margin:0 auto;
	font-family:'brandongrotesqueregular' !important;
	
}
body * {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
#navigation-bar {
	background-color: #000;
	margin: 0 auto;
	padding: 16px 0 0 16px;
	position: fixed;
	min-width: 100%;
}

.not-confirmed{
    background-color: #F29913;
    color: #FFFFFF;
    height: 36px;
    line-height: 36px;
    text-align: center;
    position: fixed;
    min-width: 100%;
    z-index:5;
    webkit-font-smoothing: sub-antialiased !important;  
}

.not-confirmed img.icon-info{vertical-align: text-bottom;margin-right:3px;}
.not-confirmed img.icon-close{margin-left:10px;cursor:pointer;}
.not-confirmed a{text-transform: none;text-decoration: underline;}


#nav {
	text-align:right;
	margin:0;
}
#nav li {
	display:inline-block;
	text-wrap:none;
	padding-bottom:12px;
	line-height:20px;
	vertical-align:middle;
	position:relative;
	border-bottom:3px solid;
	border-color:transparent;
}

#nav li ul li {border-bottom:none;}
#nav li a {line-height:22px;-webkit-font-smoothing: subpixel-antialiased !important;}
#nav li ul {padding:0; text-align:left; margin-bottom:0;}
#nav li a:hover{cursor:pointer;}
#navigation-bar-content {
	position:relative;
	width:70%;
	min-width:980px;
	margin:0 auto;
}
.oo-ui-login-menu, .oo-ui-signup-menu, .oo-ui-member-menu, .oo-ui-activity-menu {
	display:none;
}
.oo-ui-member-menu, .oo-ui-activity-menu{
	position:absolute;
	font-size:12px;
	border:1px solid #f6f6f6;
	background:#fff;
	top:38px;
	right:0px;
	font-family:Helvetica, Arial, sans-serif;
}
.oo-ui-member-menu{
	width: 210px;
}
.oo-ui-activity-menu {
	width:330%;
	right:-82%;
}
.oo-ui-member-menu .icons{
	width:16px;
	height:32px;
	display:inline-block;
	background-repeat:no-repeat;
	background-position:0 center;
	float:left;
	margin-right:10px;
}
.oo-ui-member-menu li, .oo-ui-activity-menu li{
padding-left:30px;
width:100%;
padding-right:30px;
}

.oo-ui-member-menu li a {
	display:block;
	color:#787878;
	/*padding-left:30px;*/
	text-align:left;
}
.oo-ui-activity-menu li a{
	color:#787878;
	text-transform:none;

}
.activity-feed ,.activity-feed .time-stamp{
color:#787878;
}
.activity-feed .time-stamp{
	color:#bec3c7;
	float:right;
}
.activity-feed .activity-picture{
	width:32px;
	height:32px;
	display: inline-block;
	float:left;
	margin-right:10px;
}
.activity-feed .activity-picture img{
	width:32px;
	height:32px;
}
#nav .activity-feed li {
	border-bottom-width:1px; 
	border-bottom-style:solid; 
	border-bottom-color:#F6F6F6;
	margin-bottom:12px;
	padding-left:20px;
}
#nav .activity-feed li.oo-ui-last{
	border:none;
	margin-bottom:0px;
	margin-top:-12px;
}
.oo-ui-activity-item a{text-decoration:underline;}
.activity-image{
width:30px;
height:30px;
border-radius:5px;
overflow:hidden;
display:inline-block;
margin-right:10px;
}
.activity-content{
	float:left;
	padding:0;
	margin:0;
	width:87%;
}
.activity-title{
	display:block;
	color:#3c3c3c;
	font-weight:bold;
}
#nav li ul li.oo-ui-last{
border-top:1px solid;
padding-top:12px;
border-color:#f6f6f6;
background-color:#fafafa;
text-align:center;
} 
#nav li ul li.oo-ui-last a{
	text-transform:uppercase;
}
.style-caps{
	text-transform:uppercase;
}
.oo-logo {
	position:absolute;
	top:0;
	left:0;
}
#navigation-bar-content .nav {
	margin:0;
	padding:0 0 0 120px;
}
.oo-ui-login-menu, .oo-ui-signup-menu {
	display:none;
}
a img {
	border:none;
}
a {
	color: #FFFFFF;
	outline: medium none;
	text-decoration: none;
	text-transform: uppercase;
	vertical-align: top;
}
/*End form styling */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
	display: block;
}
audio, canvas, video {
	display: inline-block;
}
audio:not([controls]) {
	display: none;
	height: 0;
}
[hidden] {
 display: none;
}
html {
	font-size: 100%;
}
html, button, input, select, textarea {
	font-family: sans-serif;
}
body {
	margin: 0;
}
a:focus {
	outline: thin dotted;
}
a:active, a:hover {
	outline: 0 none;
}
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}
h2 {
	font-size: 1.5em;
	margin: 0.83em 0;
}
h3 {
	font-size: 1.17em;
	margin: 1em 0;
}
h4 {
	font-size: 1em;
	margin: 1.33em 0;
}
h5 {
	font-size: 0.83em;
	margin: 1.67em 0;
}
h6 {
	font-size: 0.75em;
	margin: 2.33em 0;
}
abbr[title] {
	border-bottom: 1px dotted;
}
b, strong {
	font-weight: bold;
}
blockquote {
	margin: 1em 40px;
}
dfn {
	font-style: italic;
}
mark {
	background: none repeat scroll 0 0 #FFFF00;
	color: #000000;
}
p, pre {
	margin: 1em 0;
}
code, kbd, pre, samp {
	font-family: monospace, serif;
	font-size: 1em;
}
pre {
	white-space: pre-wrap;
	word-wrap: break-word;
}
q {
	quotes: none;
}
q:before, q:after {
	content: none;
}
small {
	font-size: 75%;
}
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
dl, menu, ol, ul {
	margin: 1em 0;
}
dd {
	margin: 0 0 0 40px;
}
menu, ol, ul {
	padding: 0 0 0 40px;
}
nav ul, nav ol {
	list-style: none outside none;
}
img {
	border: 0 none;
}
svg:not(:root) {
	overflow: hidden;
}
figure {
	margin: 0;
}
form {
	margin: 0;
}
fieldset {
	border: 1px solid #C0C0C0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}
legend {
	border: 0 none;
	padding: 0;
	white-space: normal;
}
button, input, select, textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
}
button, input {
	line-height: normal;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
	cursor: pointer;
}
button[disabled], input[disabled] {
	cursor: default;
}
input[type="checkbox"], input[type="radio"] {
	-moz-box-sizing: border-box;
	padding: 0;
}
input[type="search"] {
	-moz-box-sizing: content-box;
}
button::-moz-focus-inner, input::-moz-focus-inner {
 border: 0 none;
 padding: 0;
}
textarea {
	overflow: auto;
	vertical-align: top;
}
.custom-checkbox, .custom-radio {
	display: inline-block;
	vertical-align: middle;
}
.custom-checkbox_input, .custom-radio_input {
	height: 20px;
	opacity: 0;
	vertical-align: top;
	width: 20px;
}
.custom-checkbox_label, .custom-radio_label {
	color: #787878;
	cursor: pointer;
	display: inline-block;
	font-family: 'HelveticaNeueMedium';
	font-size: 13px;
	line-height: 20px;
	margin-right: 10px;
	padding-left: 10px;
	padding-top: 1px;
	position: relative;
	transition: color 0.2s ease 0s;
	vertical-align: top;
}

/* here conflict with soound.css , radio looks diferent */
/* .custom-checkbox_label:before, .custom-radio_label:before {
	-moz-box-sizing: border-box;
	background: url("images/ui-elements/blank.gif") repeat scroll center center transparent;
	border-color: #BEC3C7;
	border-style: solid;
	border-width: 2px;
	content: " ";
	height: 20px;
	left: -20px;
	position: absolute;
	top: 0;
	transition: background 0.2s ease 0s, border-color 0.2s ease 0s;
	width: 20px;
} */
.custom-checkbox_input + .custom-checkbox_label:before {
	border-radius: 2px 2px 2px 2px;
}
.custom-checkbox_label:hover, .custom-radio_label:hover {
	color: #3C3C3C;
}
.custom-checkbox_label:hover:before, .custom-radio_label:hover:before {
	border-color: #707579;
}
.custom-checkbox_input:checked + .custom-checkbox_label {
	color: #3C3C3C;
}
.custom-checkbox_input:checked + .custom-checkbox_label:before {
	background: url("images/custom-checkbox-selected.png") repeat scroll center center transparent;
	border-color: #E74C3C;
}
.custom-radio_input:checked + .custom-radio_label {
	color: #3C3C3C;
}
.custom-radio_input:checked + .custom-radio_label:before {
	background: url("images/custom-radio-selected.png") repeat scroll center center transparent;
	border-color: #E74C3C;
}
.custom-checkbox_input:checked + .custom-checkbox_label:hover, .custom-radio_input:checked + .custom-radio_label:hover {
	color: #E74C3C;
}
.custom-radio_input + .custom-radio_label:before {
	border-radius: 10px 10px 10px 10px;
}
.highlight-input, .highlight-textarea, .highlight-input--wicon {
	position: relative;
}
input[type="text"], input[type="password"], textarea {
	-moz-box-sizing: border-box;
	border-color: #EBEBEB;
	border-radius: 4px 4px 4px 4px;
	border-style: solid;
	border-width: 2px;
	color: #787878;
	font-family: 'HelveticaNeueMedium';
	font-size: 13px;
	height: 40px;
	outline: medium none;
	padding: 0 13px;
	transition: color 0.2s ease 0s, border-color 0.2s ease 0s;
	width: 100%;
}
input[type="text"]:hover, input[type="password"]:hover, textarea:hover {
	border-color: #DCDCDC;
}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
	border-color: rgba(235, 235, 235, 0);
	color: #3C3C3C;
}
:-moz-placeholder {
 color: #787878;
 transition: color 0.2s ease 0s;
}
*::-moz-placeholder {
 color: #787878;
 transition: color 0.2s ease 0s;
}
input[type="text"]:focus:-moz-placeholder, input[type="password"]:focus:-moz-placeholder, textarea:focus:-moz-placeholder {
 color: #3C3C3C;
}
input[type="text"]:focus::-moz-placeholder, input[type="password"]:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
 color: #3C3C3C;
}
.highlight-input_deco {
	-moz-box-sizing: border-box;
	color: #787878;
	font-family: 'helveticaneuemedium';
	font-size: 13px;
	line-height: 20px;
	margin: 10px 0;
	max-height: 0;
	opacity: 0;
	padding: 0 15px;
	position: relative;
	transition: max-height 0.4s ease 0s, opacity 0.2s ease 0s, visibility 0.2s ease 0s;
	visibility: hidden;
}
.highlight-reference:before {
	top: -60px !important;
}
.highlight-input_deco:before {
	background: none repeat scroll 0 0 #E74C3C;
	content: " ";
	height: 40px;
	left: 0;
	opacity: 0;
	position: absolute;
	top: -50px;
	transition: opacity 0.2s ease 0s;
	visibility: hidden;
	width: 3px;
}
input[type="text"]:focus + .highlight-input_deco, input[type="password"]:focus + .highlight-input_deco, ul.tagit.ui-tags-deco + .highlight-input_deco{
	filter: none;
	max-height: 60px;
	opacity: 1;
	visibility: visible;
}
input[type="text"]:focus + .highlight-input_deco:before, input[type="password"]:focus + .highlight-input_deco:before, ul.tagit.ui-tags-deco + .highlight-input_deco:before{
	filter: none;
	opacity: 1;
	visibility: visible;
}
textarea:focus + .highlight-input_deco {
	filter: none;
	max-height: 100px;
	opacity: 1;
	visibility: visible;
}
textarea:focus + .highlight-input_deco:before {
	filter: none;
	height: 100px;
	opacity: 1;
	top: -110px;
	visibility: visible;
}
textarea {
	height: 100px;
	padding: 13px;
}
.highlight-input--wicon {
	position: relative;
}
.highlight-input--wicon input {
	font-family: 'brandongrotesquebold';
	font-size: 14px;
	padding-left: 40px;
}
.highlight-input--wicon .icon--small {
	left: 15px;
	position: absolute;
	top: 12px;
	width:16px;
	height:16px;
}
.highlight-input--wicon.first {
	margin-bottom: 20px;
}
/*End Form Styling*/
/*Button styling*/
.green-button, .submit_btn, .tab-second-containe.join-project, .green-button--small {
	background-color: #2ECC71;
	border-radius: 4px 4px 4px 4px;
	color: #FFFFFF;
	display: inline-block;
	font-size: 14px;
	height: 40px;
	line-height: 42px;
	padding: 0 20px;
	transition: background-color 0.2s ease 0s;
	vertical-align: middle;
}
.green-button:hover, .submit_btn:hover, .tab-second-containe.join-project:hover, .green-button--small:hover {
	background-color: #26BC65;
}
.icon--small.icon--envelope {
	background: url("images/envelope.png") no-repeat scroll center center transparent;
}
.icon--small.icon--key {
	background-image: url("images/login_key.png");
}
.general-button-base, .green-button, .orange-button, .gray-button, .green-button--small, .gobackbtn {
	border-radius: 4px 4px 4px 4px;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	text-transform: uppercase;
	transition: background 0.2s ease 0s;
	vertical-align: top;
}
.green-button, .green-button--small {
	background: none repeat scroll 0 0 #2ECC71;
}
.green-button:hover, .green-button--small:hover {
	background: none repeat scroll 0 0 #25B461;
}
.orange-button {
	background: none repeat scroll 0 0 #E74C3C;
}
.orange-button:hover {
	background: none repeat scroll 0 0 #D93C2C;
}
.gray-button, .gobackbtn {
	background: none repeat scroll 0 0 #BEC3C7;
}
.gray-button:hover, .gobackbtn:hover {
	background: none repeat scroll 0 0 #ACB2B7;
}
.green-button--small {
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
}
/*End Button Styling*/
/* Login Popup */
.login_popup {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #FFFFFF;
	border-color: -moz-use-text-color #000000 #000000;
	border-image: none;
	border: 1px solid #000000;
	border-style: none solid solid;
	border-width: medium 1px 1px;
	height: 280px;
	position: absolute;
	right: 0px;
	top: 38px;
	width: 340px;
	z-index: 4;
}
.login_popup.steps_popup {
	right: 0;
}
.login_popup--a {
	display: inline-block;
	vertical-align: middle;
}
.login_popup--a a:hover {
	color: #DEDEDE;
}
.login_popup--a .highlight-input--wicon {
	margin-bottom: 20px;
}
.login_popup--a .highlight-input--wicon + .highlight-input--wicon {
	margin-bottom: 16px;
}
.login_popup--a .highlight-input_deco {
	margin: 0;
	padding: 0;
}
.login_popup--a .highlight-input_deco:before {
	top: -40px;
}
.login_input {
	border-bottom: 1px solid #F5F5F5;
	line-height: 20px;
	padding: 30px 30px 10px;
}
.selected-bottom a {
	color: #E74C3C;
}
.selected-bottom, .selected-left, .category-picker_category.selected {
	color: #E74C3C;
	position: relative;
}
#nav li.selected-bottom{
	border-bottom:3px solid;
	border-color:#E74C3C;
}
/*.selected-bottom:before {
	background: none repeat scroll 0 0 #E74C3C;
	bottom: 0;
	content: " ";
	height: 3px;
	left: 0;
	position: absolute;
	right: 0;
}*/
.selected-left:before {
	background: none repeat scroll 0 0 #E74C3C;
	bottom: 0;
	content: " ";
	left: 0;
	position: absolute;
	top: 0;
	width: 3px;
}
.selected-bottom .icon, .selected-left .icon {
	background-image: url("css/images/navi-icons-sprite-hover.png");
}
.fgt_passwd a {
	color: #DEDEDE;
	font-family: "helveticaneuemedium";
	font-size: 12px;
	line-height: 30px;
	text-transform: none;
	text-align:left;
	display:block;
}
hr {
	border-color: #F5F5F5;
	border-style: solid;
	margin: 0;
}
.submit_popup {
	padding: 30px;
}
.submit_popup span {
	display: inline-block;
	line-height: normal;
	vertical-align: middle;
}
.submit_popup span {
	color: #EBEBEB;
	font-family: "helveticaneuemedium";
	font-size: 12px;
	margin-left: 38px;
}
.submit_btn {
	border: medium none;
	font-family: 'brandongrotesquebold';
	font-size: 14px;
	text-transform: uppercase;
}
.google_btn {
	background: url("images/google.png") no-repeat scroll 14px 10px #FFFFFF;
	border: 1px solid #EBEBEB;
	border-radius: 5px 5px 5px 5px;
	color: #FFFFFF;
	height: 40px;
	margin-left: 10px;
	width: 40px;
    text-transform: none;
    text-indent: -9999px;
}
.facebook_btn {
	background: url("images/facebook.png") no-repeat scroll 14px 8px #FFFFFF;
	border: 1px solid #EBEBEB;
	border-radius: 5px 5px 5px 5px;
	color: #FFFFFF;
	height: 40px;
	margin-left: 10px;
	width: 40px;
    text-indent: -9999px;
}
.middle {
	font-family: 'brandongrotesqueregular';
	height: 160px;
	line-height: 30px;
	margin-top: 50px;
	width: 100%;
}
.middle span:first-child {
	color: #FFFFFF;
	display: block;
	font-size: 36px;
	text-align: center;
}
.middle span:nth-child(2) {
	color: #FFFFFF;
	display: block;
	font-size: 18px;
	margin-top: 23px;
	text-align: center;
}
.middle span:nth-child(3) {
	color: #FFFFFF;
	display: block;
	font-family: 'brandongrotesquebold';
	font-size: 14px;
	margin-top: 37px;
	text-align: center;
	text-transform: uppercase;
}
/*End Login Popup */	
/*Icon styling*/


.navi-btn {
	color: #FFFFFF;
	display: inline-block;
	font-size: 14px;
	letter-spacing: 0;
	padding: 0 20px;
	vertical-align: middle;
}
.navi-btn.browse-btn {
	margin-right: 20px;
}
.navi-btn .icon {
	background-image: url("images/navi-icons-sprite.png");
	display: inline-block;
	height: 16px;
	margin-right: 10px;
	vertical-align: -2px;
	width: 16px;
}
.navi-btn:hover, .navi-btn.active{
	color: #E74C3C;
}
.navi-btn:hover .icon, .navi-btn.active .icon{
	background-image: url("images/navi-icons-sprite-hover.png");
}
.selected-bottom .icon, .selected-left .icon {
	background-image: url("images/navi-icons-sprite-hover.png");
}
.logged #nav li.oo-ui-last {padding-bottom:5px;}
.logged #nav li.oo-ui-last a{line-height:30px; vertical-align:middle;}
.navi-btn .icon.icon-member {
width:32px;
height:32px;
float:left;
margin-top:-5px;
border-radius: 2px;
}
.icon-sign-in {
	background-position: -16px 0;
}
.navigation-bar .search_text {
	background-color: #000000;
	border: medium none;
	height: 1px;
	width: 1px;
}
.navigation-bar .icon-search {
	background: url("images/search") no-repeat scroll 0 0 transparent;
	border: medium none;
	height: 16px;
	margin: 0;
	width: 16px;
}
.icon-search {
	background-image: url("images/search.png");
}



.icon.icon-activity,.navi-btn:hover .icon.icon-activity {
	background-image:url("images/red-point.png");
	background-position: -4px 0px;
	background-repeat:no-repeat;
	height: 8px;
	width: 4px;
	margin-right: 10px;
	padding-top: 10px;
	color: #FFFFFF;
}

.icon.icon-activity.unread, .navi-btn:hover .icon.icon-activity.unread {
	background-position: 0px 0px;
}

.navi-btn:hover .activity-count, .selected-bottom a .activity-count {
	color: #FFF;
}

.activity-count {
	background-color: rgba( 255, 255, 255, .2);
	border-radius:2px;
	padding:0 4px;
	margin-right:-3px;
}

.activity-count.unread {
	background-color: rgba( 231, 76, 60, 1);
}

.icon.icon-activity span {
	background:#E74C3C;
	border-radius:2px;
	padding:0 4px;
	/* line-height:.85em; */
	margin-right:4px;
	
	
}
.icon-log-in {
	background-position: -32px 0;
	margin-right: 4px !important;
}
.icon-cross-new {
	background-position: -49px 0;
}
.icon-settings{
	background-image:url(images/icon-settings.png);
}
.icon-logout{
	background-image:url(images/icon-logout.png);
}
.icon-transactions{
	background-image:url(images/icon-transaction.png);
}
/*End Icon Styling*/
/*footer styling*/
.footer-hr{
	border:none;border-top:1px solid #F5F5F5 !important;margin-bottom:0;margin-top:0
}
.footer {
	background: none repeat scroll 0 0 #fff;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	position: relative;
	height: 116px;
	width: 980px;
	z-index: 2;
}
.footer a {
	-webkit-font-smoothing: subpixel-antialiased;
	color: #000000;
}
.footer_container {
	margin-top: 53px;
}
.footer_about {
	color: #3C3C3C;
}
.footer_terms {
	color: #3C3C3C;
	margin-left: 50px;
}
.social{float:right; clear:right;}
.social span{display: inline-block;height: 50px;width: 50px;}
.footer_twitter {background: url("images/twitter.png") no-repeat scroll 0 0 transparent;}
.footer_facebook {background: url("images/facebook_b.png") no-repeat scroll 0 0 transparent;}
.footer_feed {background: url("images/feed.png") no-repeat scroll 0 0 transparent;}
  /*End Footer Styling*/

/* fix to modal login, form.css make conflicts in other forms*/

.fgt_passwd{
    position: absolute;
    right: 13px;
    top: 6px;
}

.activity-icon {
	width: 16px;
	height: 16px;
	display: inline-block;
	float: left;
	margin: 3px 16px 0 8px;
	background-repeat: no-repeat;
}

.activity-subject {
	display: inline;
	color: #3C3C3C;
}

.envelope { background-image: url("images/envelope-sprite.png"); }
.envelope.not-read { background-position: -16px 0px; }

.heart { 
	background-image: url("images/heart-sprite.png"); 
	height: 14px;
	margin-bottom: -2px;
}
.heart.not-read { background-position: -16px 0px; }

.file { background-image: url("images/file-sprite.png"); }
.file.not-read { background-position: -16px 0px; }

.money { 
	background-image: url("images/money-sprite.png"); 
	height: 12px;
	margin-bottom: 0px;
}
.money.not-read { background-position: -16px 0px; }

.details { 
	background-image: url("images/details-sprite.png"); 
	height: 14px;
	margin-bottom: -2px;
}
.details.not-read { background-position: -16px 0px; }

.star { 
	background-image: url("images/star-sprite.png"); 
	margin-bottom: -2px; 
}
.star.not-read { background-position: -16px 0px; }

.people { background-image: url("images/people-sprite.png"); }
.people.not-read { background-position: -16px 0px; }

.remove { 
	background-image: url("images/remove-sprite.png"); 
	width: 14px;
	height: 14px;
	margin-right: 22px;
	margin-bottom: -2px;
}
.remove.not-read { background-position: -16px 0px; }

.cup { 
	background-image: url("images/cup-sprite.png"); 
	width: 18px;
	margin-right: 18px;
}
.cup.not-read { background-position: -16px 0px; }

.message { background-image: url("images/message-sprite.png"); }
.message.not-read { background-position: -16px 0px; }

.calendar { background-image: url("images/calendar-sprite.png"); }
.calendar.not-read { background-position: -16px 0px; }

.cd { background-image: url("images/cd-sprite.png"); }
.cd.not-read { background-position: -16px 0px; }

.activity-link {
	color: #787878;
	display:inline-block;
	text-transform: none;
	line-height:22px;
	margin-top:5px;
}
.activity-link a.first{
	text-decoration: none;
	color:#3c3c3c;
	font-size:13px;
	font-weight:bold;
}
.activity-link a.inner{
	font-weight: bold;
	text-decoration: none;
}
.activity-content .activity-text:only-child{
	font-weight: normal;
}
.activity-text {
	color: #787878;
	display:inline;
	line-height:22px;
	white-space: pre-wrap;
	margin-top:5px;
}
.activity-text.first {
	font-size:13px;
	color:#3c3c3c;
	font-weight:bold;
}

.activity-text.first:after {
    content: '\A';
    white-space: pre;
}

/* footer fix */
html, body {height: 100%;}

#wrapper {min-height: 100%;margin-bottom:118px;}

#main {
	/*
	overflow:auto;
	*/
    padding-bottom: 118px;}  

#footer {
	position: relative;
    margintop: 118px;
    height: 118px;
    clear:both;
    background-color: #fff;
    z-index:1;
} 

/*Opera Fix*/
body:before {
    content:"";
    height:100%;
    float:left;
    width:0;
    margintop:32767px;
}
/* footer fix */