{% extends "SooundAppBundle:Mail:emailLayout.html.twig" %}

{% block subject %}Reset your password{% endblock %}
{% block content %}

<div>
Hello {{ user.fullname }}!

You can reset your password by clicking on this link: <a href="{{ confirmationUrl }}">Reset Password</a>

Best Regards,

the Soound team
</div>

{% endblock %}