<!DOCTYPE html>
<html>
    <body>
        <table width="700" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td style="background-color:#4a4a4a; height: 90px; margin: 10px">
                    &nbsp;
                    <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SOOUND &nbsp;
                    <br />
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    <p style="color:#0070a8; font-size: 14px; font-weight: bold "><span style="color: #ffffff; font-size: 20px">Soound.com</span></p>
                    <p style="color: #8f8f8f; font-size: 13px; font-weight: bold ">Hello {{ name }}, have a message for you!!</p>
                    <p style="color: #8f8f8f; font-size: 12px">Integer ut diam convallis lectus pretium ornare at blandit turpis.
                        Cras ac feugiat purus. Mauris interdum risus a viverra sollicitudin. Nam egestas scelerisque ante,
                        et vulputate libero porttitor eu. Praesent rutrum lorem vitae gravida venenatis. Morbi porta libero
                        sit amet ante eleifend, nec pellentesque quam fermentum. Suspendisse posuere dui sit amet nisl dapibus,
                        id condimentum sapien porta. In vulputate id dolor pellentesque aliquet. Aliquam est augue, dapibus
                        quis sodales in, semper vel urna.</p>
                </td>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>
    </body>
</html>