<!DOCTYPE html>
<html>
    <body>
        <table width="700" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td style="background-color:#4a4a4a; height: 90px; margin: 10px">
                    &nbsp;
                    <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #ffffff">SOOUND</span> &nbsp;
                    <br />
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    <p style="color:#0070a8; font-size: 14px; font-weight: bold "><span style="color: #ffffff; font-size: 20px">{{ eventName }}</span></p>
                    <p style="color: #8f8f8f; font-size: 13px; font-weight: bold ">Hello {{ username }},</p>
                    <p style="color: #8f8f8f; font-size: 12px">{{ emailText }}</p>
                    <p style="color: #8f8f8f; font-size: 12px">We hope to see you again soon!</p>
                    <p style="color: #8f8f8f; font-size: 12px"><a href="#" style="color: #0d0e12; font-weight: bold">Soound.com</a></p>
                </td>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>
    </body>
</html>